@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);
    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);
    --first-color-hover: rgb(40, 91, 212);
    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

i{
    font-size: 16px;
}

body{
    background: var(--body-color);
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--first-color-hover);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-second);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--first-color-hover);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}

.artikel-container{
    width: 50%;
    position: relative;
    margin: auto;
}

.artikel-img{
    width: 100%;
    height: auto;
}
.artikel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.artikel-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.artikel-text span{
    color: var(--first-color-hover);
    font-size: 0.9rem;
}
.artikel-text .artikel-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #272727;
    text-decoration: none;
}
.artikel-text .artikel-title:hover{
    color: var(--first-color-hover);
    transform-origin: all ease 0.3s;
}
.artikel-text p{
    color: #272727;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.artikel-text a{
    color: #000;
    text-decoration: none;
}

.artikel-text a:hover{
    color: var(--first-color-hover);
    transition: all ease 0.3s;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
    text-decoration: none;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #272727;
    font-size: 0.9rem;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    height: 100px;
    color: #272727;
    font-size: 0.9rem;
}
input[type="submit"] {
    background: var(--first-color-hover);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}
input[type="submit"]:hover {
    background: #0056b3;
}

.comment {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #272727;
    font-size: 0.9rem;
}
.comment p {
    margin: 0;
    color: #272727;
    font-size: 0.9rem;
}